<div class="card mb1">
  <hr>
  <h6 class="blue-color text-center">{{title}}</h6>
  <hr>
  <div class="card-body pt-1 pb-1">
        <p-table #dt
                 [columns]="cols"
                 [value]="shoppingItemsList"
                 [paginator]="true"
                 [rows]="rows"
                 [pageLinks]="3"
                 [responsive]="true"
                 [resizableColumns]="true"
                 sortMode="multiple"
                 reorderableColumns="true"
                 dataKey="id">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                  [ngStyle]="{'width': col.width}">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn>
                <input pInputText type="text" [ngStyle]="{'width': '100%'}"
                       (input)="dt.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  <hr>
  <h6 class="blue-color text-center">Total : $ {{totalPrice}}</h6>
  <hr>
</div>
